body {
  display: flex;
  flex-direction: column;
  background-color: black;
}
article {
  margin: 3px;
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: left;
}

p {
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

img {
  width: 100%;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: lightgray;
}

.red {
  background-color: darkred;
  color: lightsalmon;
}

.cyan {
  background-color: darkcyan;
  color: lightcyan;
}

.green {
  background-color: darkgreen;
  color: lightgreen;
}

.pink {
  background-color: darkslategray;
  color: lightsteelblue;
}

.orange {
  background-color: darkgoldenrod;
  color: lightgoldenrodyellow;
}